// tipografia

$font-main: "New Spirit", serif ;

// paleta de colores

$blue-arg: #65A5CD;
$blue-dark: #1F3A4D;
$white-soft: #F5F9FC;
$gold-arg: #E8C547;

$gray-dark: #6E7A85;
$gray-light: #AEB7BF;


// espaciados

$section-padding: 5rem 0;

// sombras

$shadow-soft: 0 4px 12px rgba(0,0,0,0.08);
$shadow-hover: 0 6px 18px rgba(0,0,0,0.12);